/***** ABOUT PAGE *****/

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0rem 5rem 1.5rem 5rem;
  gap: 3.5rem;
  flex: 1 0 auto;
}

/*** ABOUT HEADLINE ***/

.aboutHeadline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  max-height: 223px;
  border-radius: 25px;
  overflow: hidden;

  .aboutOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
    z-index: 1;
  }

  .aboutHeadlineBackground {
    width: 100%;
    z-index: 0;
  }
}

/*** ABOUT MENU ***/

.aboutMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

/*** MEDIA QUERIES ***/

/* (768PX AND LESS TABLET) */
@media (max-width: 768px) {
  .about {
    padding: 0rem 1.25rem 0rem 1.25rem;
    gap: 1.5rem;
  }

  .aboutHeadline {
    aspect-ratio: 3.018;
    border-radius: 10px;

    .aboutHeadlineBackground {
      height: 100%;
    }
  }

  .aboutMenu {
    width: 100%;
  }
}
