/***** HOME PAGE *****/

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0rem 4rem 2rem 4rem;
  gap: 2rem;
}

/*** HOME HEADLINE ***/

.homeHeadline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .homeHeadlineText {
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 68px;
  }

  .homeHeadlineBackground {
    width: 100%;
  }
}

/*** GALLERY ***/

.gallery {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 3rem 0rem 3rem 0rem;

  .galleryRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    row-gap: 3rem;
  }
}
