/***** CARD *****/

.card {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ff6060;

  .cardLink {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cardTitle {
    position: absolute;
    bottom: 0;
    padding: 0rem 1rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: white;
  }
}
