/***** HEADER *****/

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem 2.5rem 5rem;

  nav {
    display: flex;
    align-items: center;
    gap: 60px;
    font-weight: 500;
    font-size: 22px;

    .nav-link {
      color: #000000;
      text-decoration: none;
      &.active-link {
        text-decoration: underline;
      }
    }

    .nav-link:hover {
      color: #ff6060;
    }
  }
}

/*** MEDIA QUERIES ***/

@media (max-width: 768px) {
  header {
    padding: 1.25rem 1.25rem 1.5rem 1.25rem;
    gap: 25px;

    .logo {
      width: 145px;
    }

    nav {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 17px;
      gap: 25px;
    }
  }
}
